.wrapper {
  position: absolute;
  top: 45%;
  right: 50%;
  transform: translate(50%,-50%);
}

.petri-dish {
  display: grid;
  justify-content: flex-start;
  align-items: center;
  grid-template-rows: minmax(2.1em, 2.1em);
  margin-bottom: 1em;
}

.cell {
  width: 2em;
  height: 2em;
  border: 1px solid rgb(155, 155, 155);
  margin-right: -1px;
  margin-bottom: -1px;
}

.filled::before {
  position: relative;
  content: "⬤";
  font-size: 28px;
  left: 10%;
  top: -10%;
}

button {
  position: relative;
  width: 8em;
  height: 3.3em;
  margin-right: 1em;
  background-color: white;
  border: 1px solid rgb(155, 155, 155);
  cursor: pointer;
}

input {
  font-size: 16px;
  height: 2.35em;
  width: 7em;
  margin-right: 1em;
  bottom: 5%;
}